---
openapi: 3.0.0
info:
  title: Centrale-Examens-VO
  description: '<body><p>OAS3-definities op 21 september 2022 gemaakt n.a.v. het overleg tussen betrokkenen op 20 september en 31 augustus, gebaseerd op de berichtenspecificaties en modellen Centrale Examens VO (CEVO). Ten opzichte van versie 01.01.11 (schooljaar 2021-2022) zijn de wijzigingen n.a.v. de issuelijst Issue 1: FAO-servers toevoegen, Issue 2: Correctoren toevoegen, Issue 3: Naam bij afnamegroep, Issue 6: Administraties opvragen, Issue 9: Afnamegroep bij scores en Issue 12: Terminologie (instellingscode en adminstratienummer). Ten opzichte van versie 01.02.01 zijn de wijzigingen: Maximale lengte voor de tekstvelden naam is 100 (binnen Afnemagroep) en gebruikersnaam is 20 (binnen Examenkandidaat). Verder een aantal correcties, aanvullingen en verbeteringen in de beschrijvingen en wijziging van volgordes zodat de specificaties in de modellen en OAS3-definities optimaal aansluiten.</p></body>'
  contact:
    url: https://github.com/edustandaard/Centrale-Examens-VO
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  version: 01.02.02
  x-imvertor-generator-version: 1.67.1
  x-yamlCompiler-stylesheets-version: "20210605"
servers:
- url: https://facet.nl/api/centrale_examens_v1/v02
  description: Facet API Auto Mocking
- url: https://www.las-leverancier.nl/api/centrale_examens_v1/v02
  description: LAS-leverancier Referentie-implementatie
paths:
  /administraties:
    get:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van alle administraties binnen de school.</p></body>
      operationId: getcollectionAdministraties
      parameters:
      - name: instellingscode
        in: query
        description: <body><p>Instellingscode (voorheen BRIN4) is de identificatie van de school dat de gevraagde administraties betreft.</p></body><body><p>Waarde bestaat uit 2 cijfers gevolgd door 2 letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{2}[A-Z]{2}$
          type: string
          example: 99XX
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Administratie'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /afnamegroepen:
    get:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van alle afnamegroepen binnen de administratie van de school.</p></body>
      operationId: getcollectionAfnamegroepen
      parameters:
      - name: instellingscode
        in: query
        description: <body><p>Instellingscode (voorheen BRIN4) is de identificatie van de school dat de gevraagde afnamegroepen betreft.</p></body><body><p>Waarde bestaat uit 2 cijfers gevolgd door 2 letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{2}[A-Z]{2}$
          type: string
          example: 99XX
      - name: administratienr
        in: query
        description: <body><p>Volgnummer dat wordt gebruikt om de administratie binnen de instellingscode (BRIN4) te duiden. De waarde van dit administratienummer kan overeenkomen met de waarde van een vestigingscode maar dat hoeft niet.</p></body><body><p>De waarde is code van 2 cijfers.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{2}$
          type: string
          example: "00"
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Afnamegroep'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
    post:
      tags:
      - Facet
      description: <body><p>Verzoek om een afnamegroep aan te maken op basis van aangeleverde gegevens. De identificatie van deze afnamegroep zoals door Facet aangemaakt komt in het antwoordbericht.</p></body>
      operationId: postAfnamegroepen
      parameters:
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Afnamegroep'
            examples:
              Voorbeeld Afnamegroep (maximaal):
                value:
                  afnameleider: Afnameleider02
                  corrector1: Corrector01
                  corrector2: Corrector02
                  examen: examen20220001
                  examenkandidaat:
                  - benodigdeHulpmiddelen:
                    - Verklanking
                    - Extratijd
                    geboortedatum: 2002-11-18
                    gebruikersnaam: Gebruikersnaam02
                    geslacht: V
                    leerjaar: "6"
                    niveau: VO VMBO BB
                    onderwijsdeelnemeridentiteit:
                    - typelabel: ECK-iD
                      waarde: eckid234
                    - typelabel: LAS-key
                      waarde: laskey234
                    weergavekenmerken:
                      achternaam: Achternaam02
                      voornaam: Voornaam02
                      voorvoegsel: van de
                      weergaveidentiteit: Voornaam02 van de Achternaam02
                  - benodigdeHulpmiddelen:
                    - Spellingscontrole
                    - Extratijd
                    geboortedatum: 2003-11-18
                    gebruikersnaam: Gebruikersnaam03
                    geslacht: M
                    leerjaar: "5"
                    niveau: VO VWO
                    onderwijsdeelnemeridentiteit:
                    - typelabel: ECK-iD
                      waarde: eckid345
                    - typelabel: LAS-key
                      waarde: laskey345
                    weergavekenmerken:
                      achternaam: Achternaam03
                      voornaam: Voornaam03
                      voorvoegsel: van de
                      weergaveidentiteit: Voornaam03 van de Achternaam03
                  naam: naam02
                  onderwijsorganisatie:
                    instellingscode: 99AA
                    administratienr: "00"
                  planningsgegevens:
                    afnamemoment: 2021-11-18T07:53:36.544Z
                    afnamesoort: Offline
                    faoserver: faoserver123
              voorbeeld Afnamegroep (minimaal):
                value:
                  afnameleider: Afnameleider01
                  examen: examen20220001
                  examenkandidaat:
                  - geboortedatum: 2001-11-18
                    gebruikersnaam: gebruikersnaam01
                    geslacht: M
                    leerjaar: "3"
                    niveau: VO VMBO GL
                    onderwijsdeelnemeridentiteit:
                    - typelabel: ECK-iD
                      waarde: eckid123
                    weergavekenmerken:
                      achternaam: Achternaam01
                      voornaam: Voornaam01
                      weergaveidentiteit: Voornaam01 Achternaam01
                  naam: naam01
                  onderwijsorganisatie:
                    instellingscode: 99AA
                    administratienr: "00"
                  planningsgegevens:
                    afnamemoment: 2021-11-18T07:53:36.544Z
                    afnamesoort: Online
      responses:
        "201":
          description: OK
          headers:
            Location:
              description: URI van de nieuwe resource
              style: simple
              explode: false
              schema:
                type: string
                format: uri
                example: https://api.facet.onl/afnamegroepen/afnamegroep-abc123
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Afnamegroep'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /afnamegroepen/{id}:
    get:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van een specifieke afnamegroep.</p></body>
      operationId: getresourceAfnamegroepenId
      parameters:
      - name: id
        in: path
        description: <body><p>De identificatie van de gevraagde afnamegroep.</p></body>
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: afnamegroep-abc123
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Afnamegroep'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
    delete:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van een specifieke afnamegroep te verwijderen.</p></body>
      operationId: deleteAfnamegroepenId
      parameters:
      - name: id
        in: path
        description: <body><p>De identificatie van de betreffende afnamegroep.</p></body>
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: afnamegroep-abc123
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Verwijderactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "204":
          description: No content
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
    patch:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van een specifieke afnamegroep te wijzigen.</p></body>
      operationId: patchAfnamegroepenId
      parameters:
      - name: id
        in: path
        description: <body><p>De identificatie van de gevraagde afnamegroep.</p></body>
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: afnamegroep-abc123
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Afnamegroep'
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Afnamegroep'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /afnameleiders:
    get:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van alle afnameleiders binnen de administratie van de school.</p></body>
      operationId: getcollectionAfnameleiders
      parameters:
      - name: instellingscode
        in: query
        description: <body><p>Instellingscode (voorheen BRIN4) is de identificatie van de school dat de gevraagde afnameleiders betreft.</p></body><body><p>Waarde bestaat uit 2 cijfers gevolgd door 2 letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{2}[A-Z]{2}$
          type: string
          example: 99XX
      - name: administratienr
        in: query
        description: <body><p>Volgnummer dat wordt gebruikt om de administratie binnen de instellingscode (BRIN4) aan te duiden. De waarde van dit administratienummer kan overeenkomen met de waarde van een vestigingscode maar dat hoeft niet.</p></body><body><p>De waarde is code van 2 cijfers.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{2}$
          type: string
          example: "00"
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Afnameleider'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /afnameleiders/{id}:
    get:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van een specifieke afnameleider.</p></body>
      operationId: getresourceAfnameleidersId
      parameters:
      - name: id
        in: path
        description: <body><p>De identificatie van de afnameleider waarvan de gegevens worden opgevraagd.</p></body>
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: afnameleider-abc123
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Afnameleider'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /correctoren:
    get:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van alle correctoren binnen de administratie van de school. De lijst van correctoren kan worden ingeperkt door een specifiek examen te specificeren; in dit geval worden alleen aan dit examen gekoppelde correctoren teruggegeven.</p></body>
      operationId: getcollectionCorrectoren
      parameters:
      - name: instellingscode
        in: query
        description: <body><p>Instellingscode (voorheen BRIN4) is de identificatie van de school dat de gevraagde correctoren betreft.</p></body><body><p>Waarde bestaat uit 2 cijfers gevolgd door 2 letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{2}[A-Z]{2}$
          type: string
          example: 99XX
      - name: administratienr
        in: query
        description: <body><p>Volgnummer dat wordt gebruikt om de administratie binnen de instellingscode (BRIN4) aan te duiden. De waarde van dit administratienummer kan overeenkomen met de waarde van een vestigingscode maar dat hoeft niet.</p></body><body><p>De waarde is code van 2 cijfers.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{2}$
          type: string
          example: "00"
      - name: examenid
        in: query
        description: <body><p>Identificatie van het examen dat wordt gebruikt om de lijst van correctoren binnen de administratie van de school in te perken.</p></body>
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: examen-abc123
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Corrector'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
        "415":
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the request is in a format not supported by the requested resource for the requested method.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time (rate limiting).
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented it from fulfilling the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to fulfill the request.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /correctoren/{id}:
    get:
      tags:
      - Facet
      description: <body><p>Verzoek om de gegevens van een specifieke corrector.</p></body>
      operationId: getresourceCorrectorenId
      parameters:
      - name: id
        in: path
        description: <body><p>De identificatie van de corrector waarvan de gegevens worden opgevraagd.</p></body>
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: corrector-abc123
      - name: edu-to
        in: query
        description: <body><p>Dit geeft aan namens welke organisatie Facet het verzoekbericht ontvangt. De waarde is het OIN van de school.</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00000
      - name: edu-from
        in: query
        description: <body><p>Dit geeft aan namens welke school het LAS het bericht verzendt. De waarde is het School OIN (het routeringskenmerk voor de administratie).</p></body><body><p>Deze parameter is verplicht volgens het Edukoppeling REST/SaaS-profiel.</p></body><body><p>De waarde is code van 20 karakters, met alleen cijfers en letters.</p></body>
        required: true
        style: form
        explode: true
        schema:
          pattern: ^(\d|\D){20}$
          type: string
          example: 0000000700011BB00530
      responses:
        "200":
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corrector'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.edustandaard.nl/amigo/api/validaties/integer
                  name: score
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill it.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "409":
          description: Conflict
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.10
                title: Conflict
                status: 409
                detail: The request could not be completed due to a conflict with the current state of the resource
                instance: https://datapunt.voorbeeldschool.nl/api/v1/resourcenaam?parameter=waarde
                code: conflict
        "410":
          description: Gone
          headers:
            api-version:
[...]
